<h1>Editing Artist</h1>

<%= render 'form', artist: @artist %>

<div class="container-fluid">
  <div class="form-group row">
    <div class="col-lg-6 offset-lg-3">
      <%= link_to 'Back', @artist, class: "col-lg-2 btn btn-outline-secondary", style: "text-decoration:none;" %>
    </div>
  </div>
</div>
