<div class="container-fluid">
  <div class="row">
    <h1 class="col-lg-6 offset-lg-2">Add Artist</h1>
  </div>
</div>
<br>

<%= render 'form', artist: @artist %>

<div class="container-fluid">
  <div class="form-group row">
    <div class="col-lg-6 offset-lg-3">
      <%= link_to 'Back', new_art_path, class: "col-lg-2 btn btn-outline-secondary", style: "text-decoration:none;" %>
    </div>
  </div>  
</div>
