// on PC
@media screen and (min-width:1000px){
  .pc-mb-20px{
    margin-bottom: 20px;
  }

  .map-height{
    height: 500px;
  }
}

// on mobile
@media screen and (max-width:1000px){
  .map-height{
    height: 800px;
  }
}

#map {
  margin-left:auto;
  margin-right:auto;
  text-align:left;
  width: 100%;
}
