<div class="container-fluid">
  <div class="row">
    <h1 class="col-lg-6 offset-lg-3">Edit Art</h1>
    <h5 class="col-lg-6 offset-lg-3">* Required</h5>
  </div>
</div>

<%= render 'form', art: @art %>
