// on PC
@media screen and (min-width:1000px){
  .pc-width{
    width: 90%;
  }
}

// on mobile
@media screen and (max-width:1000px){
  .prl-0{
    padding-right: 0px;
    padding-left: 0px;
  }

  .border-0px{
    border: 0px;
  }
}
